<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="a1" class="com.nik.Address">
		<property name="city" value="banglore"></property>
		<property name="state" value="kar"></property>
	</bean>


	<bean id="p1" class="com.nik.Person">
		<property name="id" value="100"></property>
		<property name="fname" value="nidhi"></property>
		<property name="lname" value="kumari"></property>
		<property name="address" ref="a1"></property>

	</bean>


</beans>
