<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="a1" class="com.nik.A">
		<constructor-arg index="0" value="abc" />
		<constructor-arg name="param2" value="xyz" />
	</bean>
	
	<bean id="b1" class="com.nik.B">
		<constructor-arg type="java.lang.Integer" value="123"  />
	</bean>
	
	<bean id="b2" class="com.nik.B">
		<constructor-arg type="java.lang.String" value="abc" />
	</bean>
</beans>
